@model IEnumerable<Movie>
@{
    ViewData["Title"]="Movies";
}

<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>
<hr />
<a class="btn btn-primary" asp-action="create">
    <i class="bi bi-plus"></i>
    Add Movie
</a>
<br />
<div class="md-4">
    @if(!Model.Any())
    {
        
      <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        No Movies Found!
        </div>
    }
    else
    {
        <div class="row">
            @foreach(var movie in Model)
            {
               <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters"></div>
                        <div class="row g-0">
                            <div class="col-md-4 ">
                                <div class="col-md-2 poster" style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(movie.Poster))"></div>
                            </div>
                            <div class="col-md-10 ">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h5 class="card-title">@movie.Title (@movie.Year)</h5>
                                        <p class="card-text text-justify">@(movie.Storyline.Length>500?@"{@movie.Storyline.SubString(0,500)}...":movie.Storyline)</p>
                                    </div>
                                    <div>
                                        <p class="card-text mb-0 mt-2">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <small class="text-body-secondary">@movie.Rate.ToString("0.0")</small>
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-secondary">
                                                <i class="bi bi-camera-reels"></i>
                                                Details
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-primary">
                                                <i class="bi bi-pencil"></i>
                                                Edit
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                                </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            }
        </div>
    }
</div>